auto-save-list/*
backups/*
elpa/*
var/*
ac-comphist.dat
*~
places
.smex-items
.emacs.desktop
.emacs.linux.desktop
.emacs.darwin.desktop
projectile-bookmarks.eld
srecode-map.el
*lock
.cask
.sync
.sync/ID
.saves
init.elc
session.*
xkcd/
"Icon\r"
semanticdb/
*swp
*#
ido.last
request/

smex-items
tramp
irony/
vimish-fold/
